<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tivit.inventariodmt">

    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY" />
    <!-- Red -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Autenticación -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- Sincronización -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_princ"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DiscoveredDevices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PairedDevices"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BluetoothActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FormEquipamentoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EquipamentosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContagemActivity"
            android:screenOrientation="portrait" />

        <!-- SERVICIO DE AUTENTICACIÓN -->
        <service android:name=".dataconsistency.sync.AuthenticationService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- SERVICIO DE SINCRONIZACIÓN -->
        <service
            android:name=".dataconsistency.sync.SyncServices"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_adapter" />
        </service>

        <provider
            android:name=".dataconsistency.provider.EquipamentoProvider"
            android:authorities="com.tivit.inventariodmt"
            android:exported="false"
            android:syncable="true" />

        <activity android:name=".TestActivity"></activity>
    </application>

</manifest>